@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
body {

}
.logo {
width: 100%;
height: 50%;
}
ul {
   padding-top: 20px;
}
h1  {
    text-align: center;
    font-size: 35px;
    font-color: #00001a;
    font-weight: bold;
    font-family: 'Amiri', serif;
}
p {
	font-size:22px;
	font-family: 'Amiri', serif;
	font-color: #00001a;
    text-align: center;
}
#p{
    text-align: center;
    font-size:16px;
    font-family: "Gill Sans", sans-serif;
}
h2 {
    text-align: center;
    font-size: 35px;
    font-color: #00001a;
    font-weight: bold;
    font-family: 'Amiri', serif;

}
img {
    width: 350px;
    height: 150px;
}

